{:paths ["service" "test"]
 :tasks
 {:requires ([clojure.test :as t])
  test {:doc "Run the fail-closed PEP and PDP response unit tests."
        :task (do (require 'service.server-test)
                  (let [res (t/run-tests 'service.server-test)
                        bad (+ (:fail res 0) (:error res 0))]
                    (System/exit (if (zero? bad) 0 1))))}}}
